<% if (data.comments.length) { %>
<div class="card my-4">
    <h5 class="card-header">دیدگاه‌ها</h5>
    <div class="card-body">
        <% data.comments.forEach(comment => { %>
        <div class="media mb-4">
            <img class="d-flex ml-4 rounded-circle" src="https://via.placeholder.com/60/c7c7c7/000000/?text=Comment" alt="">
            <div class="media-body">
                <h5 class="mt-2">
                    <div class="row">
                        <%- comment.user.name %>
                        <h6 class="mr-2 mt-1 text text-info"><%- comment.user.admin ? 'مدیر وبسایت' : comment.user.roles.includes('60f8170d4604752894d2fecf') ? 'پشتیبان' : comment.user.roles.includes('60f8175d4604752894d2fed0') ? 'مسئول پذیرش' : '' %></h6>
                    </div>
                    <% if(auth.check) { %>
                    <button type="button" class="float-left btn-sm btn btn-xs btn-success" data-toggle="modal"
                        data-target="#sendCommentModal" data-parent="<%- comment._id %>">پاسخ</button>
                    <% } %>
                </h5>
                <p class="small"><%= convertTime(comment.createdAt).fromNow()%></p>
                <%- comment.comment %>
                <% comment.comments.forEach(comment => { %>
                <div class="media mt-4">
                    <img class="d-flex ml-4 rounded-circle" src="https://via.placeholder.com/60/c7c7c7/000000/?text=Reply" alt="">
                    <div class="media-body">
                        <div class="row mt-2 align-items-center">
                            <h5><%- comment.user.name %></h5>
                            <h6 class="mr-2 text text-info"><%- comment.user.admin ? 'مدیر وبسایت' : comment.user.roles.includes('60f8170d4604752894d2fecf') ? 'پشتیبان' : comment.user.roles.includes('60f8175d4604752894d2fed0') ? 'مسئول پذیرش' : '' %></h6>
                        </div>
                        <p class="small"><%= convertTime(comment.createdAt).fromNow()%></p>
                        <%- comment.comment %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<% } %>

<div class="modal fade" id="sendCommentModal" tabindex="-1" role="dialog" aria-labelledby="sendCommentModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="testLabel">ارسال پاسخ</h4>
                <button type="button" class="close" style="margin-left: -1rem;" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form action="/comment" method="POST">
                    <input type="hidden" name="parent" value="">
                    <input type="hidden" name="<%- data.constructor.modelName.toLowerCase() %>" value="<%- data._id %>">
                    <div class="form-group">
                        <label for="message-text" class="control-label">متن پاسخ:</label>
                        <textarea class="form-control" id="message-text" name="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                        <button type="button" class="btn btn-default mr-2 ml-0" data-dismiss="modal">انصراف</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<% if(auth.check) { %>
<div class="card mb-3 wow fadeIn">
    <div class="card-header font-weight-bold">ثبت دیدگاه</div>
    <div class="card-body">
        <form action="/comment" method="POST">
            <input type="hidden" name="<%- data.constructor.modelName.toLowerCase() %>" value="<%- data._id %>">
            <div class="form-group">
                <label for="comment">دیدگاه</label>
                <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
            </div>
            <div class="mt-4">
                <button class="btn btn-info btn-md" type="submit">ارسال</button>
            </div>
        </form>
    </div>
</div>

<% } %>
<script>
    $('#sendCommentModal').on('show.bs.modal', function(event){
        const button = $(event.relatedTarget);
        const parentID = button.data('parent');
        const modal = $(this);
        modal.find("[name='parent']").val(parentID);
    });
</script>
